
*{
    padding:0px;
    margin: 0px;
    box-sizing: border-box;

}
body {
    font-family: 'Fira Sans Condensed', sans-serif;
    min-height: 100vh;
}
ul{
    list-style-type: none;
}
img{
    max-width: 100%;
}